<% require 'sinatra' %>

<!doctype html>
<html>
<head>
  <link href='<%= url 'helloworld.css' %>' rel='stylesheet' type='text/css'/>
  <title>Hello World in Sinatra</title>
</head>
<body>
  <strong>Hello world, I'm a Sinatra app running on cloudControl!</strong>
  <footer>
    Coming from the <a href="https://www.cloudcontrol.com/dev-center/Quickstart">Quickstart</a>?
    Check out <a href="https://www.cloudcontrol.com/dev-center/Guides/Ruby/HelloWorld">the explanation</a>.
  </footer>
</body>
</html>
